table {
  border-collapse: collapse;
  font-family: "Frijole", cursive;
  width: "auto";
}

th,
td {
  max-width: 180px;
  padding: 5px 15px;
  word-wrap: break-word;
}

th {
  color: teal;
  font-family: "Bungee Shade", cursive;
}

thead,
tfoot {
  background: linear-gradient(to bottom, #ffffff, #d5ebe8);
  border: 2px solid teal;
}
tbody {
  border: 2px solid teal;
}

tfoot th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: start;
  padding-left: 20px;
  padding-right: 0;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}
.table-button {
  font-family: "Vast Shadow", cursive;
  font-size: small;
  padding: 10px;
  margin: auto 5px;
  width: 80px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none;
}

.table-button.edit {
  background-color: #ede7a4;
  transition: all 0.3s ease;
}
.table-button.edit:hover {
  background-color: #6d6e06;
  color: white;
}
.table-button.delete {
  background-color: red;
  color: white;
  transition: all 0.3s ease;
}
.table-button.delete:hover {
  background-color: #e36d6d;
  color: black;
}

@media only screen and (max-width: 1360px) {
  table,
  tbody,
  th,
  td,
  tr {
    border: none;
    display: block;
  }

  thead,
  tfoot {
    display: none;
  }
  table {
    width: max-content;
    border: 1px solid;
    border-color: #eee;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
  }
}
